/* Styles for navigation bar in each page */

header.forpage {
    position: fixed;
    top: 0;
    justify-content: start;
    margin: 0;
    inline-size: 100%;
    background-color: whitesmoke;
}

.forpage nav {
    margin: 0;
    padding: 0;
    display: flex;
}

.forpage ul {
    margin: 0;
    padding: 0;
    display: inherit;
    align-items: baseline;
}

.forpage li {
    text-indent: 0;
    margin-inline-start: 1rem;
}

.forpage h2,
h3,
h4,
a {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

/* Reponsive Header */

@media screen and (max-width: 600px) {
    header.forpage {
        padding-block: 1rem;
    }

    .forpage h2,
    h3,
    h4,
    a {
        font-size: 1.5em;
    }
}

/* Styles Specific to Main content */

.container {
    margin-block-start: 20vh;
}

.container article {
    display: flex;
    flex-flow: row wrap;
    padding-inline: 5vw;
    margin-block: 2rem;
}

.container article > div {
    flex: 1 400px;
}

.container article > div:first-child {
    flex: 100%;
}

.container article div:first-child + div {
    flex: 1 300px;
}

/* div.panel div[class="thumbnail"] {
    block-size: 480px;
} */

/* Responsive Main content */

@media screen and (max-width: 600px) {
    .container article {
        display: block;
        margin: 0;
        padding: 0;
    }
}
