html {
    font-family: "Sarabun", sans-serif;
    font-size: 20px;
    background-color: whitesmoke;
}

header {
    padding: 10px 10px;
    margin: 10px 10px;
    text-align: center;
}

.TOC {
}

.showcase {
    background-color: rgba(70, 25, 70, 0.2);
    padding: 10px 20px;
    margin: 2% 2%;
    border: solid gray;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .column {
        width: 100%;
    }
}

body {
    margin: 0 auto;
}

footer {
    background-color: purple;
    text-align: right;
    padding: 10px;
    color: white;
    font-style: italic;
    font-size: 10px;
    line-height: 5px;
}

h1 {
    font-size: 80px;
    font-style: italic;
}
h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
}

li {
}
ol {
    list-style-position: inside;
}
ul {
    list-style-position: inside;
}
table {
}
th,
td {
}

tr :hover {
}

.siteimg {
    max-width: 600px;
    min-width: 100px;
    background-color: white;
    border-style: solid;
    border-radius: 30px;
}
div.headerpic {
    display: flex;
    overflow: hidden;
    height: 350px;
}

section.headerpic {
    align-self: center;
    display: block;
    margin: auto;
}

img.headerpic {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

.profilepic {
    border-radius: 100%;
}

div.featuredpic {
    overflow: hidden;
    height: 200px;
    clear: both;
    padding: 10px;
    position: relative;
    display: flex;
}

img.featuredpic {
    width: 100%;
    align-self: center;
    display: flex;
}

.featuredpictitle {
    position: absolute;
    bottom: 2%;
    left: 10%;
    font-style: italic;
    font-size: 30px;
    text-shadow: white 2px 2px;
}

.gallery {
    width: 100%;
    border: solid 2px lightgrey;
}

blockquote {
    background-color: lightgrey;
    padding: 10px;
    font-style: italic;
}

.contact {
    text-align: center;
}

iframe {
    width: 640px;
    height: 480px;
    max-width: 100%;
    max-width: 100%;
    border: none;
}

.previewpdf {
    width: 100%;
    max-height: 640px;
    border-width: 2px;
    border: solid;
    align-items: center;
    display: flex;
}

.sarabun-thin {
    font-family: "Sarabun", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.sarabun-extralight {
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.sarabun-light {
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.sarabun-regular {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sarabun-medium {
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.sarabun-semibold {
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.sarabun-bold {
    font-family: "Sarabun", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sarabun-extrabold {
    font-family: "Sarabun", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.sarabun-thin-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.sarabun-extralight-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.sarabun-light-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.sarabun-regular-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.sarabun-medium-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.sarabun-semibold-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.sarabun-bold-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.sarabun-extrabold-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 800;
    font-style: italic;
}
